# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# macOS
.DS_Store

# OAuth / API Tokens
tokens.json
schwab_tokens.json
*.token
*.tokens

# Logs
*.log

# Python cache
.pytest_cache/